<!doctype html>
<head>
    <title>__MODULE_NAME__ - Ansible Module Reference</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://docs.ansible.com/ansible/latest/_static/css/theme.css">
    <link rel="stylesheet" href="https://docs.ansible.com/ansible/latest/_static/pygments.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body class="rst-content">
<div class="search">
    <input autofocus placeholder="Filter..." oninput="filterNav(this.value)" onkeydown="if (event.key == 'Enter') gotoFirst()">
</div>
<nav class="toc">
